body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: #fff;
}

.layout {
  position: relative;
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: #222222;
  position: relative;
  top: 0; /* Keeps it fixed at the top while scrolling */
  height: 100vh; /* Full height of the viewport */
  width: 40%;
}

.title {
    font-size: 2.5em; /* Increase font size */
    font-weight: bold; /* Make text bold */
    margin: 0 0 0 20%; 
    text-align: left;
}

.subtitle {
  font-size: 1.5em; /* Increase font size */
  margin: 2.5% 0 0 20%;
  text-align: left;
}

.second-subtitle {
  font-size: 1em;
  font-weight: lighter;
  margin: 2.5% 0 0 20%;
  text-align: left;
  color: #b1b1b1
}

.logo-container {
  width: 100px; 
  height: 100px; 
  margin: 10% 0 0 20%;
  background-image: url('../public/logo.png'); 
  background-size: cover; 
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.main-content {
  position: relative;
  background-color: #222222;
  height: 100vh; /* Full viewport height */
  width: 60%;
  overflow-y: scroll; /* Enables vertical scrolling within the main content */
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 10% 0 0 20%;
}

.menu-button {
  position: relative;
  padding: 10px 20px;
  font-size: 18px;
  color: #b1b1b1;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: color 0.3s ease;
  text-align: left;
}

.menu-button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease;
}

.menu-button:hover {
  color: #fff;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.menu-button:hover::after {
  width: 50%;
  background-color: #ff3c00;
}

.menu-button.active {
  color: #fff;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.menu-button.active::after {
  width: 50%; 
  background-color: #ff3c00;
}

section {
  padding: 20px 0;
}

.hover-box {
  padding: 20px;
  width: 80%;
  background-color: #222222; /* Default color */
  color: #fff;
  border-radius: 8px;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.text-main-content {
  width: 75%;
  margin: 80px 0 0 0;
  background-color: #222222; /* Default color */
  color: #b1b1b1;
}

.hover-box:hover {
  background-color: rgba(89, 89, 89, 0.1); 
  backdrop-filter: blur(10px); 
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.1); 
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.contact-grid {
  display: flex;
  margin: 20% 0 0 20%;
  background-color: #222222;
}

.contact-button {
  background: none;
  border: none;
  margin: 0 3px 0 3px;
  font-size: 30px;
  color: #b1b1b1;
  cursor: pointer;
  transition: color 0.3s ease;
}

.contact-button:hover {
  color: #ffffff; 
}

.cursor-grad {
  width: 300px; 
  height: 300px; 
  position: absolute;
  top: var(--y); 
  left: var(--x);
  background-image: linear-gradient(#ff3c00 100%, #ff0000);
  filter: blur(250px);
  pointer-events: none;
  z-index: 10; 
  transform: translate(-50%, -50%);
}

.resume-link {
  display: flex;
  align-items: center; 
  color: #b1b1b1; 
  text-decoration: none; 
  transition: color 0.3s ease;
  padding: 20px;
}

.resume-link:hover {
  color: #ffffff; 
}

.resume-text {
  font-size: 1rem; /* Larger text size */
  font-weight: 600; /* Semi-bold text */
}

.resume-icon {
  font-size: 1rem; /* Icon size */
  margin-left: 0.5rem; /* Space between the text and the icon */
}

.content-link {
  color: white; 
  text-decoration: none;
  font-weight: bold;
}

.content-link:hover {
  color: #ff3c00;
  text-decoration: none;
  font-weight: bold;
}

.paragraph{
  margin-bottom: 1rem;
}