.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
  }
  
  .loading-video {
    width: 80%;
    height: auto;
    max-width: 200px; 
  }
  